<div class="container vertical">
    <section class="search-bar-container horizontal">
        <div class="search-bar vertical custom-rounded-pill no-bg no-border text-primary">
            <h3>Stats</h3>
            <form action="">
                <input class="custom-rounded-pill no-border" type="search" name="usearch" id="usearch" placeholder="Looking for something?">
                <button class="btn custom-rounded-pill no-border">Search</button>
            </form>
        </div>
        <div class="add-new vertical no-bg no-border custom-rounded-pill text-primary">
            <h3>Add a new Stat</h3>
            <button class="btn custom-rounded-pill no-border" routerLink="/admin/add-stat"><i class="fa fa-plus"></i> Create New</button>
        </div>
    </section>
    <section class="table-container no-bg no-border custom-rounded-pill">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let stat of stats">
                <td>{{stat._id}}</td>
                <td>{{stat.name}}</td>
                <td class="admin-options horizontal">
                    <a class ="btn custom-rounded-pill" [routerLink]="['/admin/stats', stat._id, 'edit-stat']"><i class="fa fa-edit"></i></a>
                    <a class ="btn custom-rounded-pill" (click)="deleteStat(stat._id)"><i class="fa fa-trash"></i></a>
                </td>                
            </tr>                      
        </table>
    </section>

</div>