<div class="container vertical">
    <section class="search-bar-container horizontal">
        <div class="search-bar vertical custom-rounded-pill no-bg no-border text-primary">
            <h3>Boosts</h3>
            <form action="">
                <input class="custom-rounded-pill no-border" type="search" name="usearch" id="usearch" placeholder="Looking for something?">
                <button class="btn custom-rounded-pill no-border">Search</button>
            </form>
        </div>
        <div class="add-new vertical no-bg no-border custom-rounded-pill text-primary">
            <h3>Add a new Boost</h3>
            <button class="btn custom-rounded-pill no-border" routerLink="/admin/add-boost"><i class="fa fa-plus"></i> Create New</button>
        </div>
    </section>
    <section class="table-container no-bg no-border custom-rounded-pill">
        <table>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Stat</th>
                <th>Value</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let boost of boosts">
                <td>{{boost._id}}</td>
                <td>{{boost.itemname}}</td>
                <td>{{boost.statname}}</td>
                <td>{{boost.value}}</td>
                <td class="admin-options horizontal">
                    <a class ="btn custom-rounded-pill" [routerLink]="['/admin/boosts', boost._id, 'edit-boost']"><i class="fa fa-edit"></i></a>
                    <a class ="btn custom-rounded-pill" (click)="deleteBoost(boost._id)"><i class="fa fa-trash"></i></a>
                </td>                
            </tr>                      
        </table>
    </section>

</div>