<div class="update-container container no-bg no-border custom-rounded-pill vertical text-primary">
    <h3>Edit Role <br><br>{{selectedStat.name}}</h3>
    <form class="vertical" action="">
        <div class="icon-container horizontal">
            <i class="fa-solid fa-star-half-alt text-primary">:</i>
            <input #name class="no-border custom-rounded-pill" type="text" name="name" id="name" placeholder="Name" [ngModel]="selectedStat.name">
        </div>
    </form>

    <div class="buttons horizontal">
        <button class="btn no-border custom-rounded-pill" routerLink="/admin/stats">Cancel</button>
        <button class="btn no-border custom-rounded-pill" (click)="updateStat(name.value)">Update</button>
    </div>
</div>