<div class="update-container container no-bg no-border custom-rounded-pill vertical text-primary">
    <h3>Edit User <br><br>{{selectedUser.username}}</h3>
    <form class="vertical" action="">
        <div class="icon-container horizontal">
            <i class="fa-solid fa-font text-primary">:</i>
            <input #name class="no-border custom-rounded-pill" type="text" name="name" id="name" placeholder="Name" [ngModel]="selectedUser.name">
        </div>
        <div class="icon-container horizontal">
            <i class="fa-solid fa-bold text-primary">:</i>
            <input #lastname class="no-border custom-rounded-pill" type="text" name="lastname" id="lastname" placeholder="Lastname" [ngModel]="selectedUser.lastname">
        </div>
        <div class="icon-container horizontal">
            <i class="fa-solid fa-user text-primary">:</i>
            <input #username class="no-border custom-rounded-pill" type="text" name="username" id="username" placeholder="Username" [ngModel]="selectedUser.username">
        </div>        
        <div class="icon-container horizontal">
            <i class="fa-solid fa-envelope text-primary">:</i>
            <input #email class="no-border custom-rounded-pill" type="email" name="email" id="email" placeholder="Email" [ngModel]="selectedUser.email">
        </div>
        <div class="icon-container horizontal">
            <i class="fa-solid fa-user-tag text-primary">:</i>
            <select #roleID class="no-border custom-rounded-pill" name="Role" id="role">
                
                <option *ngFor="let role of roles" value={{role._id}}>{{role.name}}</option>
            </select>
        </div>
    </form>

    <div class="buttons horizontal">
        <button class="btn no-border custom-rounded-pill" routerLink="/admin/users">Cancel</button>
        <button class="btn no-border custom-rounded-pill" (click)="updateUser(name.value, lastname.value, username.value, email.value, roleID.value)">Update</button>
    </div>
</div>